.text {
  margin: 0;
}

.alt {
  color: var(--heading-alt-color);
}

.default {
  color: var(--heading-primary-color);
}

.sm {
  font-size: 12px;
}

.md {
  font-size: 16px;
}

.bg {
  font-size: 20px;
}
