$border-width: 1px;

.contentBox {
  border: 1px solid var(--content-box-border-color-alt);
  box-shadow: inset 0 $border-width 0 0 var(--content-box-border-color),
    0 $border-width 0 0 var(--content-box-border-color),
    inset $border-width 0 0 0 var(--content-box-border-color),
    $border-width 0 0 0 var(--content-box-border-color);
  padding: 12px;
  position: relative;
  height: 100%;
  width: 100%;
}

.content {
  height: 100%;
}

.title {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  background-color: var(--content-box-title-bg-color);
  padding-left: 2px;
  padding-right: 2px;
}
