.tabButton {
  padding: 2px 6px;
  border-radius: 3px 3px 0 0;
  height: fit-content;
  margin-top: auto;
  border-bottom: none;

  &:focus {
    outline: 1px dashed var(--button-outline-color);
    outline-offset: -3px;
  }

  &:focus:active {
    outline: none;
  }

  &:active {
    outline: none;
  }
}

.selected {
  z-index: 1;
  box-shadow: 1px 1px 0 var(--tab-bg-color);
  height: 100%;

  &:focus {
    outline: none;
  }

  &:focus:active {
    outline: none;
  }
}
