$footer-padding: 12px;
$button-width: 80px;
$button-width-with-padding: $button-width + 2 * $footer-padding;

.mainWindow {
  position: absolute;
  height: fit-content;
  min-width: 300px;

  background-color: var(--explorer-bg-color);
  border-width: 1.5px;
  border-color: var(--border-left-top) var(--border-right-bottom)
    var(--border-right-bottom) var(--border-left-top);
  border-style: solid;
  padding: 1px;

  display: grid;
  grid-template-rows: 22px 1fr 42px;
}

.rightSideFooter {
  display: grid;
  grid-template-columns: calc(100% - $button-width-with-padding) $button-width-with-padding;
  grid-template-rows: auto auto;
  width: 100%;

  & > :first-child {
    grid-column: 1 / -1;
  }

  & > :nth-child(2) {
    grid-column: 1;
  }

  & > :nth-child(3) {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 12px;

    button {
      height: 24px;
    }
  }
}
