.input {
  display: none;
}

.label {
  display: flex;
  gap: 4px;
  align-items: center;

  &:focus-visible {
    outline: 1px dashed var(--form-outline-color);
  }
}

.box {
  height: 12px;
  width: 12px;
  background-color: var(--form-bg-color);
  border-width: 1px;
  border-style: solid;
  border-color: var(--form-border-left-top) var(--form-border-bottom-right)
    var(--form-border-bottom-right) var(--form-border-left-top);
  box-shadow: inset 1px 1px 0 0 var(--form-box-shadow-top-left),
    inset -1px -1px 0 0 var(--form-box-shadow-bottom-right);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: 8px;
}
