.screen {
  position: relative;
  width: 768px;
  height: 576px;
  border-radius: var(--screen-border-radius) var(--screen-border-radius) 0 0;
  background-color: var(--display-background-fallback);
  overflow: hidden;
}
